*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --narrom: linear-gradient(
    180deg,
    rgba(96, 153, 60, 1) 0%,
    rgba(55, 50, 28, 1) 100%
  );
  --cald: linear-gradient(
    145deg,
    rgba(197, 142, 23, 1) 0%,
    rgba(87, 15, 6, 1) 100%
  );
  --blues: #26295c;
  --reds: #862018;
  --yellows: #dcb674;
  --greens: #67a03b;
  --darkgreens: #3f6226;
  --purples: #51338b;
  --seriesYellows: #e4d53c;
  --golden: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

.hidden {
  opacity: 0;
  display: none;
  z-index: -1;
}

.dragging {
  opacity: 0.5;
  height: 120px;
  width: 90px;
}

.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 130px 4fr 1fr 4fr 130px;
  grid-template-rows: 100px 3fr 3fr 100px;
  grid-template-areas:
    'c a m n d'
    'i b b b j'
    'i e e e j'
    'g f k l h';

  background-image: url('/src/img/playmat.webp');
}

.player-side-2 {
  display: grid;
  grid-area: b;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;

  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ' a a '
    ' b b ';
}

.player-side-1 {
  display: grid;
  grid-area: e;
  position: relative;
  justify-content: center;
  align-content: center;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ' a a '
    ' b b ';
}

.log {
  grid-area: i;
  text-align: center;
  font-family: 'Arial MT Medium', 'JetBrains Mono', monospace;
  color: #fff;
  align-self: center;
  width: 100px;
  height: 60%;
  border: solid var(--reds);
  background-color: var(--yellows);
  border-radius: 10px;
}

.menu {
  grid-area: j;
  align-self: center;
  justify-content: center;
  justify-self: end;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  font-family: 'Arial MT Medium', 'JetBrains Mono', monospace;
  color: #fff;
  font-size: 14px;
  width: 110px;
  height: 60%;
  border: solid var(--reds);
  background-color: var(--yellows);
  border-radius: 10px;
}

.gameArea1 {
  grid-area: a;
  display: flex;
  position: absolute;
  justify-content: center;
  justify-self: center;
  height: 100%;

  width: 90%;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  background-color: var(--yellows);
  border: solid var(--reds);
  background-color: rgb(220, 182, 116, 0.5);
}

.gameArea2 {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  height: 100%;
  width: 90%;
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--yellows);
  border: solid var(--reds);
  background-color: rgb(220, 182, 116, 0.5);
}
.player1-hand {
  display: flex;
  position: absolute;
  grid-area: b;
  height: 90%;
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  justify-self: center;
  align-self: flex-end;
  background-color: rgb(220, 182, 116, 0.5);
  border: solid var(--reds);
}

.player2-hand {
  display: flex;
  grid-area: a;
  height: 90%;
  width: 80%;
  justify-content: center;
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  margin: 2px;

  background-color: rgb(220, 182, 116, 0.5);
  border: solid var(--reds);
  overflow: hidden;
}

.discard {
  align-self: flex-end;
  grid-area: g;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Parchment MF', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  border: solid var(--reds);
  height: 160px;
  width: 130px;
  background-image: url('/src/img/cardback.jpg');
  background-size: cover;
  color: azure;
}

.discard2 {
  grid-area: c;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Parchment MF', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  border: solid var(--reds);
  height: 160px;
  width: 130px;
  background-image: url('/src/img/cardback.jpg');
  background-size: cover;
  color: azure;
}

.drawdeck {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  grid-area: h;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Parchment MF', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  border: solid rgb(166, 208, 222);
  height: 160px;
  width: 130px;
  background-image: url('/src/img/cardback.jpg');
  background-size: cover;
  color: azure;
  cursor: pointer;
}

.drawdeck2 {
  align-self: flex-start;
  font-weight: bold;
  grid-area: d;
  font-size: 2em;
  text-align: center;
  font-family: 'Parchment MF', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  border: solid rgb(166, 208, 222);
  height: 160px;
  width: 130px;
  background-image: url('/src/img/cardback.jpg');
  background-size: cover;
  color: azure;
  cursor: pointer;
}
.console {
  display: flex;
  flex-wrap: wrap;
}

/* ///////////// */
.cards {
  display: flex;
  align-items: center;
  font-family: 'Bowlby One SC', cursive;
  height: 110px;
  width: 80px;
  margin: 3px;
  border-radius: 15px;
  cursor: pointer;
  opacity: 1;
}

img {
  display: flex;
  justify-content: center;

  height: 110px;
  width: 80px;
  border-radius: 10px;
  box-shadow: 4px 3px 15px #000000;
}

/* ///////////// */

.gameArea1 div {
  display: flex;
  align-items: center;
  border: solid var(--blues);
  justify-content: center;
  height: 80px;
  width: 70px;
  border-radius: 40%;
  opacity: 1;

  overflow: hidden;
}

.cards-mini,
.gameArea1 img {
  /* zoom: 10px; */
  margin-top: 70%;
  height: 180px;
  width: 100px;
}

.relicsLeft2 {
  display: flex;
  grid-area: a;

  justify-content: center;
  align-items: center;

  align-content: center;

  height: 100px;

  width: 120%;
  margin-left: -20px;
  font-size: 20px;
  overflow: hidden;
}

.relicsLeft1 {
  display: flex;
  grid-area: f;
  justify-content: center;
  align-items: center;
  background: blue;
  align-content: center;
  border: solid 1px;
  height: 100px;
  width: 120%;
  overflow: hidden;
}

.relicsRight2 {
  display: flex;
  grid-area: n;
  justify-content: center;
  align-items: center;
  background-image: purple;
  margin-left: -20px;
  font-size: 20px;
  height: 100px;
  width: 120%;
  overflow: hidden;
}

.relicsRight1 {
  display: flex;
  grid-area: l;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 120%;
  margin-left: -20px;

  overflow: hidden;
}

.relics-area {
  background: var(--narrom);
}
.magi-container2 {
  display: flex;

  position: absolute;
  grid-area: m;
  top: 0;
  border-radius: 10px;
  background-color: rgba(87, 15, 6, 1);
  justify-self: center;
  height: 120px;
  width: 100px;
  border: solid;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.magi-container1 {
  display: flex;

  position: absolute;
  grid-area: k;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(87, 15, 6, 1);
  justify-self: center;
  height: 120px;
  width: 100px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.magi-container div {
  border-radius: 10px;
}

.magi {
  border-radius: 15px;

  border: solid 6px #d01b10;
}

.magi-pile-0 img {
  position: absolute;
  align-self: center;
  height: 130px;
  width: 100px;
  bottom: 0;
}

.modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border: solid 5px var(--blues);
  background-color: var(--yellows);
}

#modal-loadingScreen {
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('/src/img/main\ screen2.png');
  background-repeat: no-repeat;
}

.modal-loadingScreen-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  transition-timing-function: ease;
  transition-duration: 2s linear;
}

.progress-bar {
  position: relative;
  width: 500px;
  font-family: 'Parchment MF', sans-serif;
  letter-spacing: 3px;
  height: 2.5em;
  background-color: rgb(15, 15, 9);
  border-radius: 1.5em;
  color: white;
  bottom: 90;
}

.progress-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5rem;
  padding: 0.5em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background: var(--golden);
  border-radius: 1em;
}

.modal-loadingScreen-MNDLogo {
  height: 33vh;
  width: 70vh;
  background-image: url('/src/img/Logo\ -\ official\ -\ more\ shadow.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 90px;
}

.modal-loadingScreen-MNDLogo {
  animation: pulse 3s ease infinite;
  filter: drop-shadow(0 0 0px #c7c554);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px #c7c554);
  }
  50% {
    transform: scale(1.04);
    filter: drop-shadow(0 0 30px #c7c554);
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px #c7c554);
  }
}

#modal-PlayScreen {
  display: flex;
  position: absolute;

  height: 100%;
  width: 100%;
  background-image: url('/src/img/play\ screen5.png');
  justify-content: center;
  align-items: center;
  border: none;
  background-position: 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

.borderDummy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 70px solid;
  padding: 15px;
  border-image: url(/src/img/Battle_for_the_moonlands_login_screen.webp) 50
    stretch;
  height: 85%;
  width: 65%;
  border-radius: 10px;

  animation: alternate glow 3s ease infinite;
  filter: drop-shadow(0 0 0px #c7c554);
}

.modal-PlayScreen-content {
  display: flex;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: static;
  align-self: center;
  position: absolute;
  height: 120%;
  width: 110%;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  justify-self: center;
  margin: 2.5rem;
  background: linear-gradient(
    145deg,
    rgba(79, 78, 83, 1) 0%,
    rgba(20, 13, 67, 1) 100%
  );
  border: solid 2px black;
  border-radius: 10px;
}

@keyframes glow {
  0% {
    /* transform: scale(1); */
    filter: drop-shadow(0 0 10px #c7c554);
  }
  50% {
    /* transform: scale(1.04); */
    filter: drop-shadow(0 0 50px #c7c554);
  }
  100% {
    /* transform: scale(1); */
    filter: drop-shadow(0 0 10px #c7c554);
  }
}

.modal-PlayScreen-LeftSection {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background: var(--yellows);
  border-radius: 10px;
  gap: 10px;

  margin: 10px;

  padding: 5px;
  padding-top: -10;
  height: 90%;
  width: 50%;
  min-width: 50%;
  border: solid 5px var(--reds);
}

.PlayScreen-DecksArea {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.PSdeck-title {
  justify-content: center;
  font-size: 10px;
  width: 100%;
  margin-bottom: 5%;
  letter-spacing: 1;
  background: linear-gradient(to right, #141414, #050505, #161515);
  background: linear-gradient(to left, transparent, black 50%, transparent);

  border-radius: 10px;
}

.PStextArea {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  letter-spacing: 2;
  align-items: center;
  font-family: 'Parchment MF', 'Arial MT Medium', sans-serif;
  color: white;
  background: linear-gradient(to right, #141414, #050505, #161515);
  background: linear-gradient(to left, transparent, black 50%, transparent);
}

.PlayScreen-deckDock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  width: 6rem;
  margin: 0.5em;

  border: 5px var(--reds);
  border-style: double;
  box-shadow: 5px 5px 15px #000000;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #16161d 0,
    #10022e 100%
  );
}

.PSdeckBtn {
  display: flex;
  align-items: end;
  box-sizing: content-box;

  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-family: 'Arial MT Medium', 'JetBrains Mono', monospace;
  height: 4.1em;
  width: 7.2em;
  transition: box-shadow 0.15s, transform 0.15s;

  will-change: box-shadow, transform;
  cursor: pointer;
}

.PSdeckBtn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d83b0b 0 -3px 0 inset;
}

.PSdeckBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.PSdeckBtn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.deck-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  height: 100%;
}

.modal-PlayScreen-RightSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
  min-width: 50%;
  border: solid 5px var(--reds);
  border-radius: 10px;
  background-image: url('/src/img/moonlands-map3.jpg');
  background-size: cover;

  background-repeat: no-repeat;
  background-color: var(--yellows);
  background-position: center;
}

.PlayScreen-RightSection-deckInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 90%;
  margin-top: 10px;
  border: solid 5px var(--reds);
  border-radius: 10px;
}

.PSmagisArea {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 100%;
  height: 70%;
}

.PlayScreen-RightSection-buttonsArea {
  display: flex;
  flex-direction: column;
  padding: 1px;
  justify-content: center;
  height: 38%;
  width: 80%;
  border-radius: 10px;
}

#PlayScreen-btn-play {
  height: 40%;
  width: 80%;
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

#PlayScreen-btn-collection {
  height: 30px;
  width: 50%;
  border-radius: 15px;
}
.modal-collection {
  display: grid;
  grid-template-columns: 6fr 7fr 5fr 0fr;
  grid-template-rows: 0fr 2fr;
  grid-template-areas:
    'a a a c'
    'b b d c'
    'b b d c';
  align-self: start;
  border-radius: 10px;
  background-color: var(--yellows);
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.modal-collection-header {
  display: flex;
  text-align: center;
  letter-spacing: 1;
  align-items: end;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #26295c 0,
    #51338b 100%
  );

  grid-area: a;
  border: solid 5px #862018;
}

.region-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 3.5em;
  height: 50%;
  margin-bottom: -6px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Parchment MF', sans-serif;

  background-color: #304c8c;
  color: #fff;
  border: solid teal;
  border-radius: 8px;
}

.region-btn p {
  font-family: 'Parchment MF', sans-serif;
  align-self: flex-end;
  font-size: 20px;
  margin-bottom: 3px;
  background: linear-gradient(to right, #141414, #05050556, #161515);
  background: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 0.829) 25 60%,
    transparent
  );
}

.modal-collection-content {
  grid-area: b;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding: 5px;
  border: solid 5px var(--reds);
  overflow: auto;
  overflow-x: hidden;
}

.modal-collection-builder {
  display: flex;
  flex-direction: column;
  grid-area: d;
  height: 100%;
  width: 100%;
  justify-content: center;
  border: solid 5px var(--reds);
}

.editor-title,
.decks-title {
  width: 100%;
  border: solid var(--blues);

  text-align: center;
  background-color: var(--darkgreens);
  font-family: 'Arial MT Medium', 'JetBrains Mono', monospace;
  color: #fff;
  font-size: 15px;
  padding: 3px;
  letter-spacing: 2;
}

.TypeCountersssss {
  display: flex;
  position: absolute;
  align-items: center;
  color: #26295c;
  justify-content: space-evenly;
  border: solid 2px black;
  top: 20;
  left: -45px;
  width: 110%;
}

.imgCounters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.editor-title img {
  width: 3em;
  height: 2em;
  border: none;
  border-radius: 0;
}

.builder-area {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding: 5px;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  border: solid 4px var(--blues);
  overflow: auto;
}

.modal-collection-decks {
  display: flex;
  flex-direction: column;
  grid-area: c;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #26295c;
  border: solid 5px var(--reds);
}

.new-decks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 4px;
  background-color: var(--yellows);
  height: 100%;
  overflow: auto;
}

#btn-collection-back {
  margin: 9px;
  font-size: 12px;
  padding: 5px;
  letter-spacing: 2;
  font-family: 'Arial MT Medium', 'JetBrains Mono', monospace;
}

.collection-cards {
  width: 145px;
  height: 200px;

  margin: 3px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.builder-collection-cards {
  width: 85px;
  height: 110px;
  margin: 3px;
  cursor: pointer;
}

.boxShadow {
  box-shadow: 8px 8px 32px #e70707;
}
.drag {
  opacity: 0;
  border: #26295c;
  height: 100vh;
}

/* ////////// BUTTONS //////////////   */

.deck-btn {
  display: flex;
  height: 70px;
  min-height: 70px;
  width: 130px;
  box-sizing: content-box;
  justify-content: right;
  margin-bottom: 8px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  /* padding: ; */
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #26295c 0,
    #51338b 100%
  );

  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  font-family: 'Arial MT Medium', 'JetBrains Mono', monospace;

  transition: box-shadow 0.15s, transform 0.15s;

  will-change: box-shadow, transform;
  cursor: pointer;
}

.deck-btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d83b0b 0 -3px 0 inset;
}

.deck-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.deck-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.deck-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  height: 100%;
}

.deck-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-content: center;
  align-self: flex-end;
  justify-self: end;
  letter-spacing: 1;
  background: linear-gradient(to right, #141414, #050505, #161515);
  background: linear-gradient(to left, transparent, black 50%, transparent);
  border-radius: 10px;
}

.deck-inner-btn {
  width: 100%;
  height: 90%;
  margin: 1px;
  padding: 2px;
  letter-spacing: 1;
  font-size: 7px;
  text-align: center;
  font-family: 'Arial MT Medium', nunito, roboto, proxima-nova, 'proxima nova',
    sans-serif;

  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;

  outline: 0;

  text-rendering: geometricprecision;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.deck-inner-btn:hover,
.deck-inner-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.deck-inner-btn:active {
  opacity: 0.5;
}

.zoom {
  border-radius: 15px;
  transform: scale(1.5);
}

.Regionselected {
  position: sticky;
  border-style: groove 5px var(--greens);
  border-radius: 15px;
  border-width: 4px;
}

.selected {
  border: solid 5px var(--greens);
  border-radius: 10px;
  border-width: 5px;

  animation: glowSelected alternate 3s ease infinite;
  animation: border 12s linear infinite;
}

.playGlowtest {
  border: solid 5px var(--blues);
  border-radius: 10px;
  border-width: 15px;
  animation: alternate glowSelected 3s ease infinite;
  filter: drop-shadow(0 0 10px #2c69d8);
  animation: border 12s linear infinite;
}

@keyframes border {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 0 5px;
  }

  100% {
    background-position: 0;
  }
}

@keyframes glowSelected {
  0% {
    /* transform: scale(1); */
    filter: drop-shadow(0 0 10px #1ac5f0);
  }
  50% {
    /* transform: scale(1.04); */
    filter: drop-shadow(0 0 40px #2c69d8);
  }
  100% {
    /* transform: scale(1); */
    filter: drop-shadow(0 0 10px #0b4c77);
  }
}

/* ////////////////// */
@property --color-1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #304c8c;
}

@property --color-2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #862018;
}

.console_button {
  text-align: center;
  font-size: 10px;
  width: 80%;
  padding: 10px;
  align-self: center;
  letter-spacing: 1;
  margin: 5px;
  font-weight: bold;
  font-family: 'Arial MT Medium', sans-serif;
  color: white;
  background-image: linear-gradient(45deg, var(--color-1), var(--color-2));
  border: 0;
  border-radius: 0.25rem;
  text-decoration: none;
  border-radius: 10px;
  transition: --color-1 1000ms, --color02 1000ms;
  cursor: pointer;
}

.console_button:hover,
.console_button:focus-visible {
  --color-1: #bb2916;
  --color-2: #2c5fd4;
}

.region-btn {
  align-items: center;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #f5f0f0;
  /* font-style: larger; */
  cursor: pointer;
  font-family: 'Parchment MF', monospace;
  font-size: 21px;
  height: 50px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  position: relative;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.region-btn:focus {
  box-shadow: #3f6226 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #26295c 0 -3px 0 inset;
}

.region-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #26295c 0 -3px 0 inset;
  transform: translateY(-2px);
}

.region-btn:active {
  box-shadow: #26295c 0 3px 7px inset;
  transform: translateY(2px);
}

#Arderial {
  /* color: #462bdb; */
  /* background-image: url('/src/img/regionSymbols/Arderial.png'); */

  /* background-color: (rgba(255, 255, 255, 0.1)); */
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Arderial.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Cald {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Cald.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Orothe {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Orothe.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Naroom {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Naroom.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Underneath {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Underneath.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Core {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Core.png');
  /* opacity: 0.5; */
  background-position: center;
}

#dResh {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/dResh.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Kybar {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Kybar.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Bograth {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Bograth.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Paradwyn {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Paradwyn.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Weave {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Weave.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Nar {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Nar.png');
  /* opacity: 0.5; */
  background-position: center;
}

#Universal {
  background-size: cover;
  background-position: left;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('/src/img/regionSymbols/Universal.png');
  /* opacity: 0.5; */
}

.PSDeckBtnImg {
  background-color: rgb(3, 8, 77);
  background-size: cover;
  background-position: center;
}
